### 1. Use the Notebook to build the code to scrape the following Wikipedia page

In [1]:
import pandas as pd 
import requests 
from bs4 import BeautifulSoup 

req = requests.get("https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050.") 
soup = BeautifulSoup(req.content,'lxml') 
table = soup.find_all('table')[0] 
data = pd.read_html(str(table)) 

df=pd.DataFrame(data[0])

In [2]:
# check neighborhood data
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### 2. The dataframe will consist of three columns: Postal Code, Borough, and Neighborhood

In [3]:
# rename columns
df = df.rename(columns={'Postcode': 'Postal Code', 'Neighbourhood': 'Neighborhood'})
df.head()

  Postal Code           Borough      Neighborhood
0         M1A      Not assigned      Not assigned
1         M2A      Not assigned      Not assigned
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

In [4]:
# shape of df
df.shape

(287, 3)

### 3. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [5]:
# ignore cells with a 'Borough' that is 'Not assigned'
not_assigned = df[df['Borough'] == "Not assigned"].index
df.drop(not_assigned, inplace=True)

In [6]:
# shape of df
df.shape

(210, 3)

### 4. Duplicated rows will be combined into one row with the neighborhoods separated with a comma.

In [7]:
# count 'Postal Code'
df.groupby('Postal Code').count()

             Borough  Neighborhood
Postal Code
M1B                2             2
M1C                3             3
M1E                3             3
M1G                1             1
M1H                1             1
M1J                1             1
M1K                3             3
M1L                3             3
M1M                3             3
M1N                2             2
M1P                3             3
M1R                2             2
M1S                1             1
M1T                3             3
M1V                4             4
M1W                1             1
M1X                1             1
M2H                1             1
M2J                3             3
M2K                1             1
M2L                2             2
M2M                2             2
M2N                1             1
M2P                1             1
M2R                1             1
M3A                1             1
M3B                1             1
M3C                2             2
M3H                3             3
M3J                2             2
...              ...           ...
M6C                1             1
M6E                1             1
M6G                1             1
M6H                2             2
M6J                2             2
M6K                3             3
M6L                3             3
M6M                4             4
M6N                2             2
M6P                2             2
M6R                2             2
M6S                2             2
M7A                1             1
M7R                1             1
M7Y                1             1
M8V                3             3
M8W                2             2
M8X                3             3
M8Y                8             8
M8Z                5             5
M9A                1             1
M9B                5             5
M9C                4             4
M9L                1             1
M9M                2             2
M9N                1             1
M9P                1             1
M9R                4             4
M9V                8             8
M9W                1             1

[103 rows x 2 columns]

In [8]:
# groupby df
df = df.groupby(['Postal Code', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()

In [9]:
# shape of df
df.shape

(103, 3)

### 5. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [10]:
# replace 'Not assigned' neighborhood
df.loc[df['Neighborhood'] == ('Not assigned'), 'Neighborhood'] = df['Borough']
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### 6. Print the number of rows of this dataframe.

In [11]:
df.shape

(103, 3)

### 7. Read the 'Geospatial_data.csv' and merge it with df

In [12]:
# read csv
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
# merge two data frames
main_df = df.merge(df_geo, left_on='Postal Code', right_on='Postal Code')

In [14]:
# check main_df
main_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### 8. Generate maps to visualize neighborhoods and how they cluster together

In [15]:
# install folium
! pip install folium

Requirement already satisfied: folium in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.10.1)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (0.4.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from branca>=0.3.0->folium) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)